{% extends 'base.html' %}

{% block head %} AnimeProjet - Auteur {% endblock %}

{% block subtitle %} 

    Rassemblons les mangakas qui ont fait de notre enfance/jeunesse ce qu'elle est !
    <br>
    <small><u>MANGAKAS (漫画家):</u> Un mangaka est un auteur de manga, bande dessinée japonaise.
            Il est soumis à des rythmes de parution très rapides et ne bénéficie pas toujours d'une liberté totale 
            sur son œuvre. Selon la réception et le succès auprès du public, son éditeur, avec lequel le mangaka 
            travaille en étroite collaboration, peut lui demander de poursuivre ou d'arrêter le récit.</small>

{% endblock %}

{% block title %} MANGAKAS (AUTEUR) {% endblock %}

{% block background %} <div class="header background_3" style="background-image: url(/static/IMAGES/mangaka.jpg);"> {% endblock %}

{% block content %}
    
    <div id="1">{% for AUTEUR in posts %}</div>
    <div class="titre-BDD">
            <h2>{{ AUTEUR['prenom'] }} {{ AUTEUR['nom'] }}</h2>
    </div>
    <div class="BDD">
        <p class="legende-BDD">DATE DE NAISSANCE :</p><span>{{ AUTEUR['date_naissance']}}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">BIOGRAPHIE</p><span>{{ AUTEUR['biographie'] }}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">A ECRIT :</p><span>{{ AUTEUR['anime'] }}</span>
    </div>
    
    {% endfor %}
    
    <div style="text-align: center; padding:40px;"><img src="/static/IMAGES/torsade.png" style="max-width: 30%; max-height: auto;"></div>
    
    <div id="2">{% for AUTEUR in posts2 %}</div>
    <div class="titre-BDD">
            <h2>{{ AUTEUR['prenom'] }} {{ AUTEUR['nom'] }}</h2>
    </div>
    <div class="BDD">
        <p class="legende-BDD">DATE DE NAISSANCE :</p><span>{{AUTEUR['date_naissance']}}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">BIOGRAPHIE</p><span>{{ AUTEUR['biographie'] }}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">A ECRIT :</p><span>{{ AUTEUR['anime'] }}</span>
    </div>
    {% endfor %}

    <div style="text-align: center; padding:40px;"><img src="/static/IMAGES/torsade.png" style="max-width: 30%; max-height: auto;"></div>

    <div id="3">{% for AUTEUR in posts3 %}</div>
    <div class="titre-BDD">
            <h2>{{ AUTEUR['prenom'] }} {{ AUTEUR['nom'] }}</h2>
    </div>
    <div class="BDD">
        <p class="legende-BDD">DATE DE NAISSANCE :</p><span>{{ AUTEUR['date_naissance']}}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">BIOGRAPHIE</p><span>{{ AUTEUR['biographie'] }}</span>
        <hr class="header-whiteline">
        <p class="legende-BDD">A ECRIT :</p><span>{{ AUTEUR['anime'] }}</span>
    </div>
    {% endfor %}


{% endblock %}
