<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/IMAGES/favicon.ico" type="image/icon">
    <title>AnimeProjet - créer</title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'style.css')  }}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">
    
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="/acceuil" class="nav-link">Acceuil</a></li>
            <li class="nav-item"><a href="/explorer" class="nav-link">Explorer</a></li>
            <li class="nav-item"><img src="/static/IMAGES/logo_anime.png" alt="logo du site"></a><span class="Anime">Anime</span><span>Projet</span></li>
            <li class="nav-item"><a href="/creer" class="nav-link">creer</a></li>
            <li class="nav-item search">
                <a href="#" class="nav-link search-toggle">Recherche</a>
                <div class="search-wrapper">
                    <form>
                        <input type="search" placeholder="Rechercher...">
                    </form>
                </div>
            </li>
        </ul>
    </nav>

    <!-- header -->
    <header class="header">
        <div class="header background">
            <div class="overlay"></div>
            <div class="header-content">
                <h6 class="title">Créer votre contenu</h6>
                <p class="">A vous de mettre vos animes/manga préférés !</p>
                <ul class="list">
                    <li class="nav-item"><a href="/creer">ANIME</a></li>
                    <li class="nav-item"><a href="/formulaire1">GENRE</a></li>
                    <li class="nav-item"><a href="/formulaire2">PERSONNAGE</a></li>
                    <li class="nav-item"><a href="/formulaire3">AUTEUR</a></li>
                </ul>
                
            </div>
        </div>
    </div>
    </header>

    <!-- container -->
    <body>
        <div class="container">
            <form action="http://localhost:5000/explorer" class="formulaire" method="POST">
                <input type="text" class="formulaire-control" placeholder="Nom" required>
                <input type="text" class="formulaire-control" placeholder="prenom"required>
                <input type="int" class="formulaire-control" placeholder="Date de naissance" required>
                <textarea name="content" class="formulaire-control"  placeholder="Biographie" style="padding: 0.75rem 10px 50px 0.75rem" required></textarea>
                <input type="int" class="formulaire-control" placeholder="anime" required>
                <input type="submit" value="ENVOYER !" class="formulaire-control">
            </form>
        </div>

	 <!-- pre footer -->
     <div class="prefooter">
        <div class="overlay"></div>
			<h6 class="prefooter-up"><img src="/static/IMAGES/logo_anime.png" alt="logo du site" class="logo-footer">	
			    <p class="brand-footer"><span class="Anime" style="filter:brightness()">Anime</span><span style="font-weight: bolder;">Projet</span></p>
            </h6>
            <p>Ce site a été créé par:</p>
			<span>
				<figure class="prefooter-wankul">
					<img src="/static/IMAGES/Lenny.png" alt="Lenny Wankul"/>
					<figcaption>Lenny</figcaption>
				</figure>
				<figure class="prefooter-wankul">
					<img src="/static/IMAGES/Mathys.png" alt="Mathys Wankul"/>
					<figcaption>Mathys</figcaption>
				</figure>
			</span>
            <!-- footer -->
            <footer class="footer">
                <p class="infos">&copy; <script>document.write(new Date().getFullYear())</script>, Made with <a href="https://vicat.mon-ent-occitanie.fr/">Lycée LOUIS VICAT</a> by Lenny AND Mathys</a></p>       
                <span>|</span>
                <p class="infos-credit"><a href=/credit>credit</a></p>
				<span>|</span>
				<p class="citation"><I>“ La passion et les rêves sont comme le temps, rien ne peut les arrêter, et il en sera ainsi tant qu'il aura des hommes prêts à donner un sens au mot LIBERTE ”</I>
				<br><strong>― Gold D.Roger</strong></p></div>
            </footer>
        </div>
    </div>


    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.bundle.js"></script>
    <script src="../static/bootstrap.affix.js"></script>
    <script src="../static/script.js"></script>

</html>