<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="/static/IMAGES/favicon.ico" type="image/icon">
    <title>AnimeProjet - acceuil</title>
	<link rel="stylesheet" href="{{url_for('static', filename = 'style.css') }}">

</head>
<body>
    
    <!-- page navbar -->
    <nav class="page-navbar" data-spy="affix" data-offset-top="10">
        <ul class="nav-navbar container">
            <li class="nav-item"><a href="/acceuil" class="nav-link">Acceuil</a></li>
            <li class="nav-item"><a href="/explorer" class="nav-link">Explorer</a></li>
            <li class="nav-item"><img id="logo_anime" src="/static/IMAGES/logo_anime.png" alt="logo du site"></img><span class="Anime">Anime</span><span>Projet</span></li>
            <li class="nav-item"><a href="/creer" class="nav-link">créer</a></li>
            <li class="nav-item search">
                <a href="#" class="nav-link search-toggle">Recherche</a>
                <div class="search-wrapper">
                    <form>
                        <input type="search" class="form-control" placeholder="Rechercher...">
                    </form>
                </div>
            </li>
        </ul>
    </nav>

    <!-- header -->
    <header class="header">
        <div class="header background">
            <div class="overlay"></div>
            <div class="header-content">
                <h1 class="header-title">Bienvenue sur le projet des terminales NSI !</h1>
                <p class="header-subtitle">Ce site va vous faire revisiter les animés en bases de données ;)</p>
                <div class="header-whiteline"><hr></div>
            </div>
        </div>
    </header>

    <!-- container -->
    <div class="container page-container">
        <div class="premier">
            <h6 class="title" style="font-size: xx-large;">Explorez</h6>
            <p style="padding: 30px;">Ce site est le résultat final du projet n°1 de terminale consistant à relier une
                base de données à une interface web. Vous aller pouvoir l'explorer de manière ludique et facile !
                Mais comment fonctionne-t-il ?</p>
            <img src="/static/IMAGES/schema_relationnel.png" alt="schéma relationnel utilisé durant le projet" class="premier_picture"></img>
        </div> 
        
        <hr>
        <div class="deuxieme">
            <h6 class="title" style="font-size: x-large;">Fonctionnement</h6>
            <p>C'est tout simple ! Rendez-vous dans l'onglet <a href="explorer.html">"Explorer"</a>
            et profiter de notre base de donnée programmée en python. Avec ses requêtes prédéfinis,
            explorer une base de donnée n'a jamais été aussi simple.</p>
            <span>AMUSEZ-VOUS BIEN !</span>
        </div> 
       
    </div>
        
        <p class="container-load"><a  href="#">Voir plus (téléchager le fichier python) >></a></p>
    <div class="page-container-acceuil">
        <div class="Anime-infos">
            <h6 class="title">Les animes les plus connus</h6>
            <p>Découvrer et parcourer les meilleurs de l'animation japonaise
                à travers une base de données performante et simple d'utilisation.</p>
        </div>
        <div class="header-whiteline"><hr></div>
        <div class="explorer-amelioration">
            <h6 class="title">Améliorer notre site à tout moment</h6>
            <p>Devenez contributeur au monde des mangas et animés en ajoutant
                ou modifiant nos bases de données sans la moindre connaissance de language SQL. <span id="menssonge">(peut-être un peu...)</span></p>
        </div>
    </div>
</body>

   <!-- pre footer -->
   <div class="prefooter">
    <div class="overlay"></div>
        <h6 class="prefooter-up"><img src="/static/IMAGES/logo_anime.png" alt="logo du site" class="logo-footer">	
            <p class="brand-footer"><span class="Anime" style="filter:brightness()">Anime</span><span style="font-weight: bolder;">Projet</span></p>
        </h6>
        <p>Ce site a été créé par:</p>
        <span>
            <figure class="prefooter-wankul">
                <img src="/static/IMAGES/Lenny.png" alt="Lenny Wankul"/>
                <figcaption>Lenny</figcaption>
            </figure>
            <figure class="prefooter-wankul">
                <img src="/static/IMAGES/Mathys.png" alt="Mathys Wankul"/>
                <figcaption>Mathys</figcaption>
            </figure>
        </span>
        <!-- footer -->
        <footer class="footer">
            <p class="infos">&copy; <script>document.write(new Date().getFullYear())</script>, Made with <a href="https://vicat.mon-ent-occitanie.fr/">Lycée LOUIS VICAT</a> by Lenny AND Mathys</a></p>       
            <span>|</span>
            <p class="infos-credit"><a href="/credit">crédit</a></p>
            <span>|</span>
            <p class="citation"><I>“ La passion et les rêves sont comme le temps, rien ne peut les arrêter, et il en sera ainsi tant qu'il aura des hommes prêts à donner un sens au mot LIBERTE ”</I>
            <br><strong>― Gold D.Roger</strong></p></div>
        </footer>
    </div>
</div>


    <script src="../static/jquery.js"></script>
    <script src="../static/bootstrap.bundle.js"></script>
    <script src="../static/bootstrap.affix.js"></script>
    <script src="../static/script.js"></script>

</html>
